<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
</head>
<body>
    <form action="survey_form/process" method="POST">
        {% csrf_token %}
        <div>
            <p><label for="name">Name:</label>
                <input type="text" name="name"></p>
            <p><label for="location">Dojo Location:</label>
                <select name="location" >
                    <option value="virginia">Virginia</option>
                    <option value="california">California</option>
                    <option value="illinois">Illinois</option>
                </select>
            <p><label for="language">Favorite Language:</label>
                <select name="language">
                    <option value="Python">Python</option>
                    <option value="Java">Java</option>
                    <option value="C#">C#</option>
                </select>
            <p><label for="comment">Comment (optional):</label></p>
                <textarea name="comment" cols="20" rows="5"></textarea>
            <p><input type="submit" value="Submit"></p>
        </div>
    </form>
</body>
</html>