<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration | Success</title>
</head>
<body>
    <p>Success! Welcome, {{ user.first_name }}</p>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p class="message">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}    

    <a href="/logout"><button>Logout</button></a>
</body>
</html>