<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Gold</title>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h4>Your gold: {{ gold }}</h4>
        </div>
        <div id="gameplay">
            <div class="location">
                <h4>Farm</h4>
                <p>(Earns 10-20 gold.)</p>
                <form action="/process_money" method = "POST">
                    {% csrf_token %}
                    <input type="hidden" name="building" value="farm">
                    <input type="submit" value="Find Gold!">
                </form>
            </div>
            <div class="location">
                <h4>Cave</h4>
                <p>(Earns 5-10 gold.)</p>
                <form action="/process_money" method = "POST">
                    {% csrf_token %}
                    <input type="hidden" name="building" value="cave">
                    <input type="submit" value="Find Gold!">
                </form>
            </div>
            <div class="location">
                <h4>House</h4>
                <p>(Earns 2-5 gold.)</p>
                <form action="/process_money" method = "POST">
                    {% csrf_token %}
                    <input type="hidden" name="building" value="house">
                    <input type="submit" value="Find Gold!">
                </form>
            </div>
            <div class="location">
                <h4>Casino</h4>
                <p>(Earns 0-50 gold.)</p>
                <form action="/process_money" method = "POST">
                    {% csrf_token %}
                    <input type="hidden" name="building" value="casino">
                    <input type="submit" value="Find Gold!">
                </form>
            </div>
        </div>
        <div id="activities">
            {% for i in activities reversed %}
                <p class="{{ i.class }}">{{ i.activity }}</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>