<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add</title>
</head>
<body>
    <div class="top-nav">
        <a href="/">Home</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="add_book">
        <h2>Add a New Book Title and a Review</h2>
        <form action="/insert" method='POST'>
            {% csrf_token %}
            
            <label for="book_title">Book Title:</label>
            <input type="text" name="book_title">

            {% if authors %}
            <label for="author_list">Author:</label>
            <select name="author_list" id="author_list">
                {% for author in authors %}
                <option value="{{ author.name }}">{{ author.name }}</option>
                {% endfor %}
            </select>
            {% endif %}

            <label for="new_author">Or add a new author:</label>
            <input type="text" name="new_author">
            
            <label for="review">Review:</label>
            <textarea name="review" cols="30" rows="10"></textarea>

            <label for="rating">Rating:</label>
            <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            <input type="submit" value="Add Book and Review">
        </form>
    </div>
    
</body>
</html>