<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
</head>
<body>
    <div class="top-nav">
        <a href="/">Home</a>
        <a href="/add">Add Book and Review</a>
        <a href="/logout">Logout</a>
    </div>

    <div class="user_info">
        <h3>User Alias: {{ user.alias }}</h3>
        <h3>Name: {{ user.name }}</h3>
        <h3>Email: {{ user.email }}</h3>
        <h3>Total Reviews: {{ total_reviews }}</h3>
    </div>

    <br>

    <div class="reviews">
        <h3>Posted Reviews on the following books:</h2>
        <ul>
            <li>Books</li>
        </ul>
    </div>
    
</body>
</html>