<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel Dashboard</title>
</head>
<body>
    <h1>Hello, {{ request.session.l_username }}!</h1>
    <h2>Your Trip Schedules</h2>
    <table>
        <tr>
            <th>Destination</th>
            <th>Travel Start Date</th>
            <th>Travel End Date</th>
            <th>Plan</th>
        </tr>
    </table>
    <h2>Other User's Travel Plans</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Destination</th>
            <th>Travel Start Date</th>
            <th>Travel End Date</th>
            <th>Do You Want To Join?</th>
        </tr>
    </table>
    <a href="/travels/add">Add Travel Plan</a>
</body>
</html>