<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="  X-UA-Compatible" content="ie=edge">
    <title>Users Index</title>
</head>
<body>
    <div class="header">
        <h1>Users</h1>
    </div>
    <div class="all_users">
        <table class="users_table"border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Actions</th>
                    </tr>
            </thead>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td><a href="/users/{{ user.id }}">{{ user.first_name }} {{ user.last_name}}</a></td>
                <td>{{ user.email }}</td>
                <td>{{ user.created_at }}</td>
                <td><a href="/users/{{ user.id }}"><button>Show</button></a> <a href="/users/{{ user.id }}/edit"><button>Edit</button></a> <a href="/users/{{ user.id }}/destroy"><button>Delete</button></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <a href="/users/new"><button>Add a new user</button></a>
    </div>
</body>
</html>