<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users Show</title>
</head>
<body>
    <div class="show_user">
        <h1>User {{ user.id }}</h1>
        <h3>Full Name: {{ user.first_name }} {{user.last_name }}</h3>
        <h3>Email: {{ user.email }}</h3>
        <h3>Created at: {{ user.created_at }}</h3>
    </div>
    <div>
        <a href="/users/{{ user.id }}/edit"><button>Edit</button></a>
        <a href="/users/{{ user.id }}/destroy"><button>Delete</button></a>
        <a href="/users"><button>Go Back</button></a>
    </div>
</body>
</html>