<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel Buddy - Login/Registration</title>
</head>
<body>
    <h1>Welcome!</h1>
    <div class="register">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Register</legend>
                <p>Name: <input type="text" name="name"></p>
                <p>Username: <input type="text" name="r_username"></p>
                <p>Password: <input type="text" name="r_password"></p>
                <p>Confirm Password: <input type="text" name="c_password"></p>
                <input type="submit" value="Register">
            </fieldset>
        </form>
    </div>
    <div class="login">
        <form action="/login" method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Login</legend>
                <p>Username: <input type="text" name="l_username"></p>
                <p>Password: <input type="text" name="l_password"></p>
                <input type="submit" value="Login">
            </fieldset>
        </form>
    </div>
</body>
</html>