<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninjas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Welcome to the page about Ninjas</h1>
    <h2>Facts about ninjas:</h2>
    <p>Ninja don't sweat.</p>
    <p>Bullets can't kill a ninja.</p>
    <p>Ninja invented skateboarding.</p>
    <p>Only a ninja can kill a ninja. Regular humans are useless.</p>
    <p>Ninja never wear headbands with the word "ninja" printed on them.</p>
    <p>Ninja can breath underwater anytime they want.</p>
    <p>Ninja invented the internet.</p>
    <img src="{{ url_for('static', filename='img/ninja-illustration.jpg') }}" alt="pic of ninja">
</body>
</html>