<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <form action="/result" method='post'>
        <div>
            <label for="name" >Name:</label> 
            <input type="text" name="name">
        </div>
        <div>
            <label for="location">Dojo Location:</label> 
            <select name="location">
                <option value="Seattle">Seattle</option>
                <option value="Washington D.C.">Washington D.C.</option>
                <option value="Mountain View">Mountain View</option>
            </select>
        </div>
        <div>
            <label for="language">Favorite Language:</label>
            <select name="language">
                <option value="JavaScript">JavaScript</option>
                <option value="Python">Python</option>
                <option value="C#">C#</option>
                <option value="Java">Java</option>
            </select>
        </div>
        <div>
            <label for="comment">Comment:</label>
            <textarea name="comment" cols="30" rows="5"></textarea>
        </div>
        <input class="btn btn-primary btn-sm" type="submit" value="Submit">
    </form>
</body>
</html>