<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Friend</title>
</head>
<body>
    {{ friend }}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    
    <h2>Edit a Friend</h2>
    <form action="/friends/{{ friend[0]['id'] }}/update" method='post'>
        <p>First Name: <input type="text" name="upd_first_name"></p>
        <p>Last Name: <input type="text" name="upd_last_name"></p>
        <p>Email: <input type="text" name="upd_email"></p>
        <p><input type="submit" value="Update"></p> 
    </form>
</body>
</html>